@import "tailwindcss";

@theme {
  --color-gwc-red: #E10600;
  --color-gwc-black: #0d0d0d;
  --color-background: var(--color-gwc-black);
  --color-foreground: white;
}

:root {
  --gwc-red: var(--color-gwc-red);
  --gwc-black: var(--color-gwc-black);
}

body {
  @apply bg-gwc-black text-white antialiased;
}